<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExtraQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <!--<supportedRuntime version="v2.0.50727"/>-->    
  </startup>
  <userSettings>
    <ExtraQL.Properties.Settings>
      <setting name="LauncherExe" serializeAs="String">
        <value />
      </setting>
      <setting name="Email" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Realm" serializeAs="String">
        <value>focus</value>
      </setting>
      <setting name="Advanced" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RealmInfo" serializeAs="String">
        <value>https://secure.quakelive.com;quakelive;Prod|https://ng0.quakelive.com;quakelive;Pre-Prod NG0|https://focus.quakelive.com;focus;Focus</value>
      </setting>
      <setting name="Focus" serializeAs="String">
        <value>False</value>
      </setting>
    </ExtraQL.Properties.Settings>
  </userSettings>
</configuration>
